<?xml version="1.0"?>
<config>
    <modules>
        <dueclic_emailchef>
            <version>1.0.0</version>
        </dueclic_emailchef>
    </modules>

    <global>
        <helpers>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Helper</class>
            </dueclic_emailchef>
        </helpers>
        <models>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Model</class>
            </dueclic_emailchef>
        </models>
        <blocks>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Block</class>
            </dueclic_emailchef>
        </blocks>
        <events>
            <sales_order_save_after>
                <observers>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
        <tab1>
            <general>
                <username></username>
                <password></password>
                <list></list>
                <policy></policy>
            </general>
        </tab1>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <dueclic_emailchef>
                    <file>emailchef.xml</file>
                </dueclic_emailchef>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <dueclic_emailchef>
                <use>standard</use>
                <args>
                    <module>Dueclic_Emailchef</module>
                    <frontName>emailchef</frontName>
                </args>
            </dueclic_emailchef>
        </routers>
    </frontend>
</config>