<?xml version="1.0"?>
<config>
    <modules>
        <dueclic_emailchef>
            <version>1.0.2</version>
        </dueclic_emailchef>
    </modules>

    <global>
        <template>
            <email>
                <emailchef_newsletter_dopt translate="label" module="dueclic_emailchef">
                    <label>eMailChef Newsletter Double Opt-in</label>
                    <file>emailchef_newsletter_dopt.html</file>
                    <type>html</type>
                </emailchef_newsletter_dopt>
            </email>
        </template>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <dueclic_emailchef>
                        <type>singleton</type>
                        <class>Dueclic_Emailchef_Model_Observer</class>
                        <method>subscribedToNewsletter</method>
                    </dueclic_emailchef>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_layout_load_before>
                <observers>
                    <dueclic_emailchef>
                        <type>singleton</type>
                        <class>Dueclic_Emailchef_Model_Observer</class>
                        <method>checkAbandonedCarts</method>
                    </dueclic_emailchef>
                </observers>
            </controller_action_layout_load_before>
            <admin_system_config_changed_section_emailchef>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>Dueclic_Emailchef_Model_Observer</class>
                        <method>saveConfig</method>
                    </modulename>
                </observers>
            </admin_system_config_changed_section_emailchef>

            <customer_save_after>
                <observers>
                    <dueclic_emailchef>
                        <type>singleton</type>
                        <class>Dueclic_Emailchef_Model_Observer</class>
                        <method>prepareCustomerForDataSync</method>
                    </dueclic_emailchef>
                </observers>
            </customer_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <dueclic_emailchef>
                        <type>singleton</type>
                        <class>Dueclic_Emailchef_Model_Observer</class>
                        <method>prepareOrderForDataSync</method>
                    </dueclic_emailchef>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <helpers>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Helper</class>
            </dueclic_emailchef>
        </helpers>
        <resources>
            <dueclic_emailchef_setup>
                <setup>
                    <module>Dueclic_Emailchef</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dueclic_emailchef_setup>
            <dueclic_emailchef_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dueclic_emailchef_write>
            <dueclic_emailchef_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dueclic_emailchef_read>
        </resources>
        <models>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Model</class>
            </dueclic_emailchef>
        </models>
        <blocks>
            <dueclic_emailchef>
                <class>Dueclic_Emailchef_Block</class>
            </dueclic_emailchef>
            <adminhtml>
                <rewrite>
                    <system_config_edit>Dueclic_Emailchef_Block_Adminhtml_System_Config_Edit</system_config_edit>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <default>
        <emailchef>
            <general>
                <syncevent>0</syncevent>
                <username></username>
                <password></password>
                <list></list>
                <policy></policy>
            </general>
        </emailchef>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Dueclic_Emailchef>
                    <files>
                        <default>Dueclic_Emailchef.csv</default>
                    </files>
                </Dueclic_Emailchef>
            </modules>
        </translate>
        <layout>
            <updates>
                <dueclic_emailchef>
                    <file>emailchef.xml</file>
                </dueclic_emailchef>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Dueclic_Emailchef>
                    <files>
                        <default>Dueclic_Emailchef.csv</default>
                    </files>
                </Dueclic_Emailchef>
            </modules>
        </translate>
        <routers>
            <dueclic_emailchef>
                <use>standard</use>
                <args>
                    <module>Dueclic_Emailchef</module>
                    <frontName>emailchef</frontName>
                </args>
            </dueclic_emailchef>
        </routers>
    </frontend>
</config>